@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

body{
    background-color: rgb(48, 48, 48);
    font-family: "Noto Serif SC", serif;
}
h1{
    color: rgb(115, 255, 115);
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 50px;
}